<%breadcrumb :faqs,faqs_index_path%>
<h1>Frequently asked questions</h1>
<div class="faqs">
  <dl>
    <dt>1.How do I register?</dt>
    <dd>
      To register provide a valid email 
      address and a password at least six
      characters long.
    </dd>
    <dt>2.Why cant I register even after providing a valid email?</dt>
    <dd>
       The email address you are using is not registered with us.
    </dd>
    <dt>3.After registration what next?</dt>
    <dd>
        An activation link will be sent to the provided email address.
        This link expires in 6 hours.
    </dd>
  </dl>
  <%if user_signed_in? %>
  <span class="badge" id="backbtn"><%=link_to "Back",:back,:id=>'backbtn'%></span>
  <%else%>
    <span class="badge" id="backbtn"><%=link_to "Register/login",new_user_session_path,:id=>'backbtn'%></span>
  <%-end-%>
  
</div>
