
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
<fieldset id="pswchange" title="Password reset">
  <legend> Account Info </legend>
  <%if alert%>
  <p>
      <span class="label label-warning">
        <a href="#"  data-dismiss="alert">&times;</a>
        <%=alert %>
    </span>
  </p>
  <%-end-%>
   <%= f.hidden_field :reset_password_token %>
  <ol>
    <li>
      <%= f.label :password, "New password" %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    </li>
    <li>
      <%= f.label :password_confirmation, "Confirm new password" %>
       <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </li>
    <li>
      <%= f.submit "Change my password" %>
      <%= render "devise/shared/links" %>
    </li>
  </ol>
</fieldset>
<% end %>


