
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<fieldset id="Reset" title="Password Reset">
          <legend>Password rest</legend>
 <%if alert%>
     <p>
      <span class="label label-warning">
        <a href="#"  data-dismiss="alert">&times;</a>
        <%=alert %>
      </span>
  </p>
 <%-end-%>
  <ol>
    <li>
      <%= f.label :email %>
       <%= f.email_field :email, autofocus: true %>
    </li>
    <li>
      <%= f.submit "Reset" %>
      <%= render "devise/shared/links" %>
    </li>
  </ol>
</fieldset>
<% end %>


