<% breadcrumb :Account,current_user %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<fieldset id="Edit" title="Account update">
  <legend>Account update</legend>
   <%if alert%>
    <p>
      <span class="label label-warning">
        <a href="#"  data-dismiss="alert">&times;</a>
        <%=alert %>
      </span>
    </p>
  <%-end-%>

  <ol>
    <li>
      <%= f.label :email %>
       <%= f.email_field :email, autofocus: true %>
    </li>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <li>Currently waiting confirmation for: <%= resource.unconfirmed_email %></li>
    <% end %>
      <li>
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "off" %>
      </li>
      <li>
        <%= f.label :password_confirmation %>
         <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </li>
      <li>
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </li>
     
      <li class="singleline">
         <%= f.submit "Update" %>
        <span class="badge" id="backbtn"><%=link_to "Back",:back,:id=>'backbtn'%></span>
       <span class="badge" id="logoutbtn"> <%=link_to "Deactivate", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,:id=>'logoutbtn'%></span>
      </li>
     
        
  </ol> 
  </fieldset>
<% end %>
