
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<fieldset id="registration" title="Registration info">
  <legend>Registration info</legend>
  <%if alert%>
      
      <p>
      <span class="label label-warning alert-dismissable">
        <a href="#"  data-dismiss="alert">&times;</a>
        <%=alert %>
      </span>
      </p>
  
  <%-end-%>
  <ol>
    <li>
      <%= f.label :email %>
       <%= f.email_field :email ,autofocus: true%>
    </li>
    <li>
      <%= f.label :password %>
       <%= f.password_field :password, autocomplete: "off" %>
    </li>
    <li>
      <%= f.label :password_confirmation %>
       <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </li>
    <li>
      <%= f.submit "Register" %>
      <%= render "devise/shared/links" %>
    </li>
  </ol>
</fieldset>
<% end %>


