<%- model_class = Order -%>
<% breadcrumb :orders, orders_path %>
<% breadcrumb :root, root_path %>

     <%if alert%>
     <span class="label label-warning">
        <a href="#"  data-dismiss="alert">&times;</a>
         <%=alert %>
       <%flash[:alert]=nil%>
      </span> 
    <%-end-%>
    <%if notice%>
    <span class="label label-success">
      <a href="#"  data-dismiss="alert">&times;</a>
      <%=notice %>
    </span>
     <%flash[:notice]=nil%>
   <%-end-%>
<div class="page-header">
  <h1>Listing Orders</h1>
</div>
<%if @orders && @orders.count>0 %>
<div class="searchinfo">
  <%=search_form_for (@search),:class=>"navbar-form navbar-search",:role=> "search" do |f|%>
  <div class="form-group">
    <%=f.text_field :pono_cont,:placeholder=>"Search Purchase order number",:class=>"form-control input-large"%>
    <%=f.submit "Search",:class=>"btn btn-default"%>
  </div>
  <%-end-%>
</div>
<table class="table table-striped" id="orders">
  <thead>
    <tr>
      <th>PO NO.</th>
      <th>ORD. DATE</th>
      <th>LINKS</th>
    </tr>
  </thead>
  <tbody>
     
        <% @orders.each do |order| %>
          <tr>
            <td><%= order [:pono] %></td>
            <td><%= order[:orderdate]%></td>
            <td><span class="badge" id="backbtn"> <%=link_to 'Show',order_items_path(:order_id=>order[:order_id],:pono=>order[:pono]),:id=>"backbtn",:notice=>order[:pono],:email=>current_user.email%></span></td>
          </tr>
        <% end %>
</tbody>
</table>
<%if @orders.count>10%>
  <div class="well well-small">
  <ul class="pager">
    <li class="btn-mini"><%=will_paginate @orders,:container=>false%></li>
   </ul>
</div>
<%-end-%>
 <%else%>
           <span class="label label-success">
               <a href="#"  data-dismiss="alert">&times;</a>
                You have <%= @orders.count%> orders
            </span>       
 <%-end-%>
 