
<%= form_for(resource, as: resource_name, url: session_path(resource_name),:class=>"form_settings") do |f| %>
<fieldset id="login" title="Login info">
  <legend>Login Info</legend>
  <%if alert%>
  <p>
      <span class="label label-warning alert-dismissable">
        <a href="#"  data-dismiss="alert">&times;</a>
        <%=alert %>
    </span>
  </p>
   
  <%-end-%>
  <ol>
    <li>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </li>
    <li class="singleline">
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
       <% end -%>
    </li>
    <li class="singleline">
      <%= f.submit "Log in" %>
      <%= render "devise/shared/links" %>
    </li>
  </ol>
</fieldset>
 
<% end %>

 
 

  



