<div class="searchinfo">
  <%=form_tag order_items_path,:class=>"navbar-form navbar-search",:role=> "search" ,:method=> 'get',:remote=> true do%>
  <div class="form-group">
    <%=text_field_tag :search,params[:search],:placeholder=>"Search for an item",:class=>"form-control input-large"%>
    <%=hidden_field_tag :pono,params[:pono]%>
    <%=submit_tag "Search",:class=>"btn btn-default",:method=>:get%>
  </div>
  <%-end-%>
</div>
 <table class="table table-striped" id="items">
  <thead>
    <tr>
      <th>ITEM CODE</th>
      <th>ORD QTTY</th>
      <th>DISPATCHED</th>
      <th>BALANCE</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
       <td><%= item.itemcode %></td>
         <td><%= item.quantity %></td>
         <td><%= item.dispatched %></td>
         <td><%= item.balance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%if @items.count>10%>
  <div class="well well-small">
  <ul class="pager">
         <li class="btn-mini"><%=will_paginate @items,:container=>false%></li>
   </ul>
 </div>
<%-end-%>