<% breadcrumb :orders,@orders%>
<% breadcrumb :orders, @items%>
<div class="page-header">
  <h1>Listing order items</h1>
</div>
  <%if alert%>
   <span class="label label-error">
      <a href="#"  data-dismiss="alert">&times;</a>
    <%=alert %>
     <%flash[:alert]=nil%>
  </span> 
    <%-end-%>
    <%if notice%>
    <span class="label label-info">
    <%=notice %>
     <%flash[:notice]=nil%>
    </span>
    <%-end-%>

<% if @items && @items.count>0 %>
 <div id="orderinfo"> <%= render :partial=> 'items'%> </div>
 <%else%>
           <div  class="alert-info">
               <a href="#"  data-dismiss="alert">&times;</a>
               <p> The POA has <%= @items.count%> items </p>
            </div>
<%-end-%>
<span class="badge" id="backbtn"><%=link_to "Back",:back,:id=>"backbtn",:notice=>nil%></span> 

