<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "| K.A.R.M Order Portal" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
 <body>
  <div id="main"> 
	
	<header>
	  <div id="welcome">
	    <h2>K.A.R.M <span>Order Portal</span></h2>
	  </div><!--close welcome-->			  	
	
	  <nav>
	    <div id="menubar">
          <ul id="nav">
            <li class="current"><%=link_to("Home",:root)%></li>  <li><%=link_to("Questions",faqs_index_path,:id=>"faqs")%></li>       <li><a href="http://www.kaluworks.com/about-us/the-company" target="blank" id="about">About Us</a></li>	
          </ul>
        </div><!--close menubar-->	
      </nav>		
	
	</header>
    
	<div id="site_content">		

      <div class="slideshow">
	    <ul class="slideshow">
              <li class="show"><%=image_tag("circles.jpg",:size=>"680x300",:alt=>"&quot;Quality aluminium products&quot;")%></li>
              <li><%=image_tag("Plates.jpg",:size=>"680x300",:alt=>"&quot;Quality aluminium products&quot;")%></li>
        </ul> 
	  </div><!--close slideshow-->	
	
	  <div class="sidebar_container">       			
        <div class="sidebar">
          <div class="sidebar_item">
 <%if user_signed_in?%>
          
                              <h1>Account Menu</h1>
                              <span>Logged in as:</span></br>
                              <%=current_user.email%>
                              <p> <span><%=link_to('Account update', edit_user_registration_path) %></span></p>
                              <span class="badge" id="logoutbtn"><%=link_to('Logout', destroy_user_session_path, :method => :delete,:id=>"logoutbtn") %></span>                    
                         <%else%> 
                              <h1>Portal Menu</h1>
                             			
                                      <a href="index.html">Home</a><br/>
                                      <a href="#faqs">Questions</a></br>
                                      <a href="#about">About Us</a></br>
			<%-end-%>	
 </div>		
          <div class="Sidebar_item">
            <h2>Important links</h2>
		  <a href="http://www.kaluworks.com" target="blank">Company website</a>
          </div>
          <div class="sidebar_item">
            <h2>Contact</h2>
            <p>Phone: +44 (0)1234 567891</p>
            <p>Email: <a href="mailto:juma.d.o@kaluworks.com">juma.d.o@kaluworks.com</a></p>
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
       </div><!--close sidebar_container-->
	  <div id="content">
            <%if notice%>
                            <span  class="label label-success">
                              <a href="#"  data-dismiss="alert">&times;</a>
                            <%=notice %>
                          </span> 
                 <%-end-%>
            <p>
               <%= breadcrumbs pretext: "You are here: ",separator: " &rsaquo; " ,:class=>"breadcrumb"%>
            </p>
        		<%=yield%>  	  
		</div><!--close content_item-->
      </div><!--close content-->   
	
	</div><!--close site_content-->  	
  
    <footer>
	 &copy; 2014 Kaluworks Limited &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |&nbsp; <a href="index.html">Home</a> |&nbsp; <a href="contact.html">Contact</a> &nbsp;|<br/>
    </footer> 
  
  </div><!--close main-->
</body>
</html>
